button {
  font-family: inherit;
  font-size: 20px;
  background: #4599b4;
  color: white;
  border-radius: 18px !important;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
button:hover {
  background: #f3972b;
}
.svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(3.7em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(10em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.card-heading-service {
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  padding-top: 50px;
  margin-bottom: 30px;
}

.card-heading-service .heading-underline-service {
  position: relative;
  display: inline-block;
}

.card-heading-service .heading-underline-service::after {
  content: '';
  margin-top: 50px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: rgb(220, 166, 66);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
}

.card-heading {
  text-align: center;
  margin-bottom: 20px;
}

.heading-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.contact-form {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(145deg, transparent 0%, #4599b4, #eca553) border-box;
  border: 2px solid transparent;
  padding: 30px;
  background-size: 200%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 15px;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 1px;
}

.form-control {
  width: 48%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-control.full-width {
  width: 100%;
}

.drop-down {
  width: 100%;
}

.form-control::placeholder {
  color: #aaa;
}

#dropdown-placeholder {
  color: #aaa;
}

textarea.form-control.full-width {
  width: 100%;
  height: 200px;
  resize: none;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
  background-color: #4599b4;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  .form-control:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .textarea.form-control.full-width {
    height: 100px;
  }
  .form-container {
    padding: 10px;
  }

  .contact-form {
    padding: 15px;
  }

  .submit-btn {
    padding: 10px 15px;
  }
}

select.form-control:invalid {
  color: #aaa;
}

select.form-control:invalid option {
  color: #aaa;
}

select.form-control {
  color: #333;
}
