@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
.heroContainer {
  display: flex;
  background-image: url("../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  justify-content: center;
  margin: 0;
}
.leftGlobe {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-30%, -30%);
  animation: moveDownUp 3s ease-in-out infinite alternate;
  z-index: 1000;
}
.rightGlobe {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  animation: moveUpDown 3s ease-in-out infinite alternate;
  z-index: 1000;
}

@keyframes moveUpDown {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -90%);
  }
}

@keyframes moveDownUp {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-90%, -50%);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 0 70px;
}

.hero span {
  font-weight: bold;
  font-family: PoppinsBold;
}

.hero-btn-div {
  background-color: #f3972b;
  border-radius: 50px;
  border: none;
  padding: 3px 21px;
  transition: background-color 0.3s, color 0.3s;
}

.hero-btn-div:hover {
  background-color: #4599b4;
}

.hero-btn {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: bold;
  /* background-color: "#FF6F00"; */

  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the first span */
.hero span.first-line {
  font-size: 4rem; /* Default font size */
  color: #f3972b;
}

/* Style for the second span */
.hero span.second-line {
  color: #4599b4;
  font-size: 4rem; /* Default font size */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.first-line {
  font-family: "'Roboto', sans-serif";
  font-weight: "300";
  font-size: "3.5rem";
  color: "black";
}

.second-line {
  font-family: "'Roboto', sans-serif";
  font-weight: "300";
  font-size: "3.5rem";
  color: "black";
}
.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.slide-in {
  animation: slideIn 2s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero span.first-line,
  .hero span.second-line {
    font-size: 0rem; /* Adjust font size for the first line on smaller screens */
  }
  .rightGlobe {
    display: none;
  }
  .first-line .fade-in {
    font-size: 0.5rem;
  }
}
