@font-face {
  font-family: PoppinsBold;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  margin: 0;
  position: relative;
  overflow: hidden;
  user-select: none;
}
.heroContainer {
  /* z-index: 1; Ensure content is above the gradient */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: 0;
  position: relative; /* Position relative for the pseudo-element */
  overflow: hidden;
}

.leftGlobe {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-30%, -30%);
  animation: moveDownUp 3s ease-in-out infinite alternate;
  z-index: 1000;
}
.rightGlobe {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  animation: moveUpDown 3s ease-in-out infinite alternate;
  z-index: 1000;
}
.gear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.market {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@keyframes moveUpDown {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -90%);
  }
}

@keyframes moveDownUp {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-90%, -50%);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin: 0 70px;
}

.hero span {
  font-weight: bold;
  font-family: PoppinsBold;
}

.hero-btn:hover {
  background-color: #4599b4;
}

.hero-btn {
  border-radius: 50px;
  color: #ffffff;
  background-color: #f3972b;

  border: none;
  font-weight: bold;
  /* background-color: "#FF6F00"; */

  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

/* Style for the first span */
.first-line {
  /* font-family: "'Roboto', sans-serif"; */
  font-weight: 300;
  font-size: 3.5rem;
  color: #f3972b;
  display: flex;
}
.technology {
  color: #f3972b;
  font-weight: 700;
  display: flex;
  align-items: center;
}

/* Style for the second span */
.second-line {
  color: #4599b4;
  /* font-size: 4rem; Default font size */
  /* font-family: "'Roboto', sans-serif"; */
  font-weight: 300;
  font-size: 3.5rem;
  /* color: black; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.marketing {
  color: #4599b4;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.slide-in {
  animation: slideIn 2s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
  .rightGlobe {
    display: none;
  }
  .first-line {
    font-size: 2.5rem;
    flex-direction: column;
  }
  .second-line {
    font-size: 2.5rem;
    flex-direction: column;
  }
  .hero-btn-div {
    padding: 0;
  }
}
@media (max-width: 395px) {
  .rightGlobe {
    display: none;
  }
  .leftGlobe {
    display: none;
  }
}

@media (max-width: 275px) {
  .rightGlobe {
    display: none;
  }
  .leftGlobe {
    display: none;
  }
  .first-line {
    font-size: 2rem;
  }
  .second-line {
    font-size: 2rem;
  }
  .hero-btn-div {
    padding: 0;
  }
}
