.main-paragrah {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: justify;
  word-spacing: 1.2px;
  color: gray;
}

@media screen and (max-width: 600px) {
  .main-paragrah {
    text-align: justify;
  }
}

@media (max-width: 420px) {
  .logo-animation {
    display: none;
  }
}
