.main-container h2{
    text-align: center;
}
.sub-paragraph{
    text-align: justify;
    word-spacing: 0.5px;
    padding-top: 15px;
    color: gray;
}
.card-heading-service {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    padding-top: 50px;
  }
  
  .card-heading-service .heading-underline-service {
    position: relative;
    display: inline-block;
  }
  .upcards{
    margin-top: -7rem !important;
  }
  .card-heading-service .heading-underline-service::after {
    content: '';
    margin-top: 50px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 50%;
    height: 3px; /* Adjust the height as needed */
    background-color: rgb(220, 166, 66);
  }
  .webpan-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  .last-paragraph{
    padding-top: 1.5rem;
    padding-bottom: 30px;
    text-align: justify;
    color: gray;
  }