.card2 {
  position: relative;
  width: 280px;
  height: 180px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 12px;
  border-radius: 8px;
  box-shadow:2px 2px 8px #4599B4;;
  cursor: pointer;
}


.heading {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  color: black;
}

.plan-p{
  color: rgb(81, 81, 81) !important;

}

.card2 p:not(.heading) {
  font-size: 14px;
}

.card2 p:last-child {
  color: #4599B4;
  font-weight: 600;
}

.card2:hover::after {
  filter: blur(30px);
}

.card2:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.card2:hover > .textBox {
  opacity: 1;
}

.card2:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.card2:hover {
  transform: scale(1.04) rotate(-1deg);
}
