.whyHeroImg {
  width: 50%;
  height: 30vw;
  margin-top: 2vw;
}

.WhyUsHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whyUsPara {
  color: #000000;
  text-align: center;
  padding-top: 50px;
}


