.whyHeroImg {
  width: 50%;
  height: 30vw;
  margin-top: 2vw;
}

.WhyUsHero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whyUsPara {
  color: #000000;
  text-align: center;
  padding-top: 5px;
}

.whyUs-span {
  font-size: 0.8rem;
  background-color: #f5f5f5;
  padding: 12px;
  margin-bottom: 2vw;
  color: #000000;
  font-weight: 500;
  margin-top: 2vw;
  border-radius: 10px;
}
